.grid {
    width: 1500px;
}

lightning-input {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 1000px;
}

c-poke-title {
    cursor: pointer;
  }

lightning-combobox {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.slds-text-color_inverse {
    background-color:rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	border-radius: .50rem;
}

.placeholder {
    text-align: center;
}

.slds-box {
    float: left;
    display: block;
    color: black;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}